notMNIST*
*pyc
*pickle
*.idea
pytorch/
*.jpg
*.png
*.json
*.csv
*.npy
*.wandb
*.log
*.yaml
*.txt
*.pth
_session_*
.DS_Store
diff.patch
*.gz
*.pt
*.meta
*.swp
data
wandb
*ckpt
lightning_logs/
MNIST_data
*-checkpoint.ipynb
